/SystemArchitecture/nbproject/private/
/SystemArchitecture/build/
/Singleton/nbproject/private/
/SingletonPattern/nbproject/private/
/SingletonPattern/build/
/ProxyPattern/nbproject/private/
/ProxyPattern/build/
/ProxyPattern/src/
/ProxyPattern/nbproject/